.title{
    color: black;
    font-weight: bold;
}

.center-items {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;

    &--centered {
        justify-content: center;
    }   

    &--wrapped {
        flex-wrap: wrap;
    } 

    &--space-between {
        justify-content: space-between;
    } 

    &--aligned {
        align-items: center;
    } 

    &--aligned-start {
      align-items: flex-start;
  } 

    &--centered {
      align-self: center;
    } 

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-start;
    }

    &--content-end {
      justify-content: flex-end;
    }

    &--content-start {
      justify-content: flex-start;
    }
}   
 
.flex-column {
    display: flex;
    flex-direction: column;
}   

.text {
  &--big {
    font-size: 22px;
  }

  &--medium {
    font-size: 16px;
  }

  &--small {
    font-size: 14px;
  }

  &--bold {
    font-weight: bold;
  }

  &--grey {
    color: $grey;
  }

  &--error {
    color: $red-error;
  }
}

.icon {
  &--big {
    height: 40px;
    width: 40px;
  }

  &--medium {
    height: 30px;
    width: 30px;
  }

  &--small {
    height: 20px;
    width: 20px;
  }
}

.bar-pl {
  padding-left: 100px;
}

.bar-pr {
  padding-right: 100px;
}

@media (max-width: 600px) {
  .bar-pl {
    padding-left: 40px;
  }

  .bar-pr {
    padding-right: 30px;
  }
}

.container {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  &--border {
    border: 1px solid $grey-background;
  }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to  {
    opacity: 0;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer-underlined:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .w-100 {
    width: 100%;
  }
